@font-face {
  font-family: carolingia;
  src: url("carolingia.ttf");
}
@font-face {
  font-family: dumbledore;
  src: url("dumbledore.ttf")
}
.torrpg {
  font-family: dumbledore;
  font-size: 16px;
  /* Sheet Tabs */
  /* Items List */
  /* Attributes */
}
.torrpg input, table, label {
  background: transparent;
}
.torrpg .sheet-tabs {
  height: 35px;
  display: flex;
  align-items: center;
}
.torrpg .sheet-tabs .item {
  font-size: 28px;
  border: 1px solid black;
}
.torrpg .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: scroll;
}
.torrpg .sheet-header {
  height: 180px;
  width: 80%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  float: left;
}
.torrpg .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  width: 100px;
  margin-left: 0px;
}
.torrpg .sheet-header .header-fields {
  flex: 1;
  height: 170px;
}
.torrpg .sheet-header h1.charname {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.torrpg .sheet-header h1.charname input {
  width: 100%;
  text-align: left;
  border-width: 0;
  border-bottom: 1px solid black;
}
.torrpg .exp-val-wis {
  position: relative;
  width: 20%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.torrpg .exp-val-wis input {
  text-align: center;
  border-width: 0px;
  width: 30px;
  height: 40px;
  font-size: 40px;
}
.torrpg .exp-val-wis img {
  border-width: 0px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 10px;
}
.torrpg .exp-val-wis label.caption {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-left: 15px;
}
.torrpg .exp-val-wis label.tot {
  font-size: 16px;
  position: absolute;
  top: 35px;
  left: 2px;
}
.torrpg .exp-val-wis input.exp {
  position: absolute;
  top: 57px;
  left: 77px;
}
.torrpg .exp-val-wis input.totexp {
  width: 24px;
  height: 32px;
  font-size: 32px;
  position: absolute;
  top: 30px;
  left: 50px;
}
.torrpg .exp-val-wis input.val {
  position: absolute;
  top: 185px;
  left: 72px;
}
.torrpg .exp-val-wis input.wis {
  position: absolute;
  top: 317px;
  left: 72px;
}
.torrpg .details {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.torrpg .details label {
  border-width: 0;
  margin: 5px 3px 0px 0px;
  padding-top: 3px;
}
.torrpg .details input {
  width: 30%;
  border-width: 0px;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  margin: 5px 10px 5px 0px;
}
.torrpg .long-details {
  width: 100%;
  text-align: left;
}
.torrpg .long-details label {
  border-width: 0;
  padding-top: 3px;
  margin: 2px 3px 2px 0px;
}
.torrpg .long-details input {
  width: 79%;
  border-width: 0;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  margin: 3px 0px 7px 0px;
}
.torrpg .cat-header-partial {
  width: 80%;
  border-width: 0px;
  text-align: center;
}
.torrpg .cat-header-full {
  border-width: 0px;
  text-align: center;
}
.torrpg .cat-header-full .comskil-head {
  border-width: 0px;
  text-align: center;
  width: 80%;
  float: left;
}
.torrpg .cat-header-full .skilgrp-head {
  border-width: 0px;
  text-align: center;
  width: 20%;
  float: right;
}
.torrpg .traits-body {
  width: 80%;
  margin-bottom: 5px;
}
.torrpg .attributes-body {
  width: 80%;
  margin-bottom: 5px;
  position: relative;
}
.torrpg .attributes-body img {
  border-width: 0px;
  margin-left: -1px;
}
.torrpg .attributes-body label {
  font-size: 26px;
  margin: 0px 0px 0px 45px;
  position: relative;
  bottom: 30px;
}
.torrpg .unfav-attrib {
  width: 30px;
  height: 40px;
  border-width: 0px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 30px;
  margin: 0px 0px 0px 15px;
}
.torrpg .fav-attrib {
  width: 30px;
  height: 25px;
  border-width: 0px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 10px;
  margin: 0px 0px 0px 45px;
}
.torrpg .comskil-table {
  border-width: 0px;
  float: left;
  width: 80%;
}
.torrpg .comskil-table th {
  width: 15px;
}
.torrpg .comskil-table .skill {
  width: 13%;
}
.torrpg .skilgrp-table {
  border-width: 0px;
  width: 20%;
  float: right;
}
.torrpg .skilgrp-table input {
  text-align: center;
  margin-bottom: 3px;
}
.torrpg .ranksinput {
  width: 15px;
  text-align: center;
}
.torrpg .weapskil-table {
  border-width: 0px;
  width: 80%;
  float: left;
}
.torrpg .weapskil-table .weapname {
  border-width: 0px;
  width: 120px;
}
.torrpg .dam-par-arm {
  position: relative;
  bottom: 30px;
  width: 20%;
  float: right;
  display: flex;
  flex-wrap: wrap;
}
.torrpg .dam-par-arm img {
  border-width: 0px;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: 15px;
  margin-bottom: 10px;
}
.torrpg .dam-par-arm label.caption {
  font-size: 22px;
  width: 100%;
  text-align: center;
  margin-left: 30px;
}
.torrpg .dam-par-arm input.dam {
  width: 30px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  top: 48px;
  left: 82px;
}
.torrpg .dam-par-arm label.ranged {
  font-size: 16px;
  position: absolute;
  top: 110px;
}
.torrpg .dam-par-arm input.ranged {
  width: 24px;
  height: 32px;
  font-size: 32px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  top: 83px;
  left: 53px;
}
.torrpg .dam-par-arm label.shield {
  font-size: 16px;
  position: absolute;
  top: 235px;
  left: 5px;
}
.torrpg .dam-par-arm input.parry {
  width: 30px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  top: 179px;
  left: 82px;
}
.torrpg .dam-par-arm input.shield {
  width: 24px;
  height: 32px;
  font-size: 32px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  top: 215px;
  left: 53px;
}
.torrpg .dam-par-arm label.helm {
  font-size: 16px;
  text-align: center;
  position: absolute;
  top: 360px;
  left: 10px;
}
.torrpg .dam-par-arm input.armour {
  width: 30px;
  height: 40px;
  font-size: 40px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  position: absolute;
  top: 311px;
  left: 82px;
}
.torrpg .dam-par-arm input.helm {
  width: 24px;
  height: 32px;
  font-size: 32px;
  text-align: center;
  border-width: 0px;
  position: absolute;
  top: 347px;
  left: 53px;
}
.torrpg .cat-header-partial .rew-head {
  border-width: 0px;
  text-align: center;
  width: 50%;
  float: left;
}
.torrpg .cat-header-partial .virt-head {
  border-width: 0px;
  text-align: center;
  width: 50%;
  float: right;
}
.torrpg .reward-virtue {
  width: 80%;
}
.torrpg .rew-table {
  width: 50%;
  border-width: 0px;
  float: left;
}
.torrpg .rew-table input {
  border-width: 0px;
  border-bottom: 1px solid black;
}
.torrpg .virt-table {
  width: 50%;
  border-width: 0px;
  float: right;
}
.torrpg .virt-table input {
  border-width: 0px;
  border-bottom: 1px solid black;
}
.torrpg .weapgear-table {
  border-width: 0px;
  width: 80%;
}
.torrpg .weapgear-table input.name {
  border-width: 0px;
}
.torrpg .weapgear-table input.other {
  border-width: 0px;
  border-bottom: 1px solid black;
  width: 40px;
  text-align: center;
}
.torrpg .other-gear {
  border-width: 0px;
  float: left;
  width: 40%;
}
.torrpg .other-gear table {
  border-width: 0px;
}
.torrpg .other-gear input.name {
  border-width: 0px;
  border-bottom: 1px solid black;
}
.torrpg .other-gear input.enc {
  border-width: 0px;
  border-bottom: 1px solid black;
  width: 10px;
}
.torrpg .endhope-caption {
  width: 80%;
}
.torrpg .endhope-caption label {
  font-size: 22px;
  margin-left: 37px;
  padding-left: 20px;
}
.torrpg .end-hope {
  width: 48%;
  float: left;
  position: relative;
}
.torrpg .end-hope input {
  border-width: 0px;
  width: 28px;
  height: 26px;
  font-size: 22px;
  text-align: center;
}
.torrpg img {
  border-width: 0px;
  margin-left: 40px;
}
.torrpg .end-hope label.end-max {
  position: absolute;
  left: 12px;
}
.torrpg .end-hope input.end-value {
  font-size: 26px;
  height: 36px;
  width: 34px;
  position: absolute;
  top: 39px;
  left: 78px;
}
.torrpg .end-hope input.end-max {
  position: absolute;
  top: 10px;
  left: 49px;
}
.torrpg .end-hope label.tot-enc {
  position: absolute;
  left: 5px;
  top: 90px;
}
.torrpg .end-hope input.tot-enc {
  position: absolute;
  top: 74px;
  left: 49px;
}
.torrpg .end-hope label.trav-fatigue {
  position: absolute;
  top: 80px;
  left: 150px;
  text-align: right;
}
.torrpg .end-hope input.trav-fatigue {
  position: absolute;
  top: 74px;
  left: 113px;
}
.torrpg .end-hope input.hope-value {
  font-size: 26px;
  height: 36px;
  width: 34px;
  position: absolute;
  top: 39px;
  left: 265px;
}
.torrpg .end-hope label.hope-max {
  position: relative;
  bottom: 100px;
  left: 45px;
}
.torrpg .end-hope input.hope-max {
  position: absolute;
  top: 10px;
  left: 235px;
}
.torrpg .end-hope label.tot-shad {
  position: absolute;
  top: 100px;
  right: 135px;
}
.torrpg .end-hope input.tot-shad {
  position: absolute;
  top: 74px;
  left: 235px;
}
.torrpg .end-hope label.temp-shad {
  position: absolute;
  top: 90px;
  right: 5px;
  text-align: right;
}
.torrpg .end-hope input.temp-shad {
  position: absolute;
  top: 74px;
  left: 298px;
}
.torrpg .conditions {
  border-width: 0px;
  width: 12%;
  height: 100px;
  float: right;
  font-size: 16px;
  position: relative;
  bottom: 30px;
  background: transparent;
}
/*
Back tab stuff for PC sheet
*/
.torrpg .back .caps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.torrpg .back .caps label {
  font-size: 22px;
  text-align: center;
}
.torrpg .back .inputs {
  position: relative;
}
.torrpg .back .inputs input {
  font-size: 30px;
  width: 30px;
  height: 32px;
  text-align: center;
  border-width: 0px;
  z-index: 1;
}
.torrpg .back .inputs input.f {
  position: absolute;
  left: 24px;
  top: 29px;
}
.torrpg .back .inputs img.f {
  position: relative;
  right: 45px;
}
.torrpg .back .inputs input.ap {
  position: absolute;
  left: 211px;
  top: 29px;
}
.torrpg .back .inputs img.ap {
  position: relative;
  left: 8px;
}
.torrpg .back .inputs input.t {
  position: absolute;
  left: 396px;
  top: 29px;
}
.torrpg .back .inputs img.t {
  position: relative;
  left: 57px;
}
.torrpg .back .inputs input.s {
  position: absolute;
  left: 557px;
  top: 29px;
}
.torrpg .back .inputs img.s {
  position: relative;
  left: 84px;
}
.torrpg .back .inputs input.ps {
  position: absolute;
  left: 727px;
  top: 29px;
}
.torrpg .back .inputs img.ps {
  position: relative;
  left: 120px;
}
